<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <style>
  [ng-cloak] {
    display: none;
  }
  </style>
  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="loader.js"></script>
  <script src="app-bootstrap.js"></script>
  <title>Ng Starter</title>

  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css"/>
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css"/>
  <link rel="stylesheet" href="lib/angular-material/angular-material.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link rel="stylesheet" href="app.css"/>
</head>
<body ng-cloak layout="column">


<div ng-controller="MainNavigationCtrl as $ctrl" layout="column" style="height: 500px;" ng-cloak>

  <md-sidenav class="md-sidenav-left"
              md-component-id="mainNav"
              md-whiteframe="4">
    <md-content layout-margin>
      <h3>Ng Starter</h3>
      <md-list>
        <md-list-item ng-repeat="item in $ctrl.linkItems"
                      class="md-2-line">
          <a href="{{item.path}}">{{item.text}}</a>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>


  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <md-button ng-click="$ctrl.toggleSideNav()"
                 class="md-icon-button" aria-label="Menu">
        <md-icon md-font-icon="menu" aria-label="menu"></md-icon>
      </md-button>
      <h2 md-truncate flex>Ng Starter</h2>
    </div>
  </md-toolbar>


  <md-content flex layout-padding>
    <div layout="column" layout-align="top center">
      <div ng-view></div>
      <div>
        <md-button ng-click="$ctrl.toggleSideNav()" class="md-raised md-primary">
          Toggle Main Nav
        </md-button>
      </div>
    </div>
  </md-content>

</div>
</body>
</html>
